/* Typoraphy */
@font-face {
  font-family: "kiyotaka-handjet";
  src: url("./fonts/Handjet-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Variables */
:root {
  --shocking-pink: #fb32b7;
  --dark-purple: #040308;
}

/* Default style reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "kiyotaka-handjet", 'Times New Roman', Times, serif;
}

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;